<script type="text/jsx">
	class Init extends React.Component {

		render() {
			return (
				<Layout theme="light" style={{padding: '1rem 3rem 1rem', background: '#fafafa'}}>
          <BrowserRouter>
            <NavRoute />
            <Switch>
              <Route exact path="/">
                <Request />
              </Route>
              <Route path="/lista">
                <FormStepThree />
              </Route>
							<Redirect to="/" />
            </Switch>
          </BrowserRouter>
				</Layout>
			)
		}
	}
</script>